<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find controls)/worlds/inverted_pendulum2.world"/>
    <arg name="paused" value="true"/>
    <!-- more default parameters can be changed here -->
  </include>
  <node pkg="controls" name="gazebo_tutorial_listener" type="gazebo_tutorial_listener.py" output="screen"/>
</launch>
